
                            <div class="regex_unitaire">
                                <span class="regex_name">
                                    Expression régulière 1 : 
                                </span>
                                <input type="text" name="question_sarah_1_1" value="<?php echo $data; ?>"/>
                                <select name="action_a_effectuer_1_1">
                                    <option value="func">
                                        Envoyer vers une fonction
                                    <option value="question">
                                        Répondre à la question
                                </select>
                                <br/>
                                <div class="sup_regex">
                                    Supprimer un champ regex
                                </div>
                            </div>
